Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -bugprone-exception-escape

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*

HeaderFilterRegex: '.*/src/.*'
FormatStyle: none